.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    .mobile-break {
        display: inline; /* Por padrão, o texto continua na mesma linha */
    }
    
    @media (max-width: 767px) {
        .mobile-break {
            display: block; /* Cria uma quebra de linha nos dispositivos móveis */
        }
    }
    

    &__questions {
        &__item {
            background-color: #13151d;
            margin-bottom: 16px;

            &__question {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                @media (max-width: 768px) {
                    font-size: 17px;
                }

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;

                    @media (max-width: 768px) {
                        font-size: 20px;
                    }
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                    font-size: 80px;  /* Aumenta o tamanho da fonte do sinal de menos */

                    @media (max-width: 768px) {
                        font-size: 30px;
                    }
                }

                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 13px;
                    transition: height, .5s ease;
                }

                .faq__questions__item__answer.special {
                    height: auto;
                    padding-bottom: 24px;  /* Aumento do padding-bottom */
                    transition: height, .5s ease;
                }
            }
        }
    }
}